<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <div class="input-group">
      <ion-item>
        <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="role" type="text" placeholder="Role" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="phone" type="phone" placeholder="Phone Number" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
    </div>

    <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
    <ion-button type="button" expand="block" color="light" fill="clear" routerLink='/login'>Have an account? .. Login</ion-button>
  </form>
</ion-content>
