<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" *ngIf="userName">
    <strong class="capitalize"> Hello {{ userName }} </strong>
    <p>Welcome to Move-it app</p>
  </div>
  <div *ngIf="userName == null" class="ion-text-center">
    <strong class="capitalize"> Hello Guest ! </strong>
    <p>Please <a routerLink='/login'>Login</a> to see our service</p>
  </div>
</ion-content>
